#Initial {
    background-image: url(https://thumbs.dreamstime.com/z/concept-meeting-education-learning-presentation-technology-background-d-render-127353414.jpg);
}

* {
    margin: 0;
    padding: 0;
}

#main {
    height: 70px;
}

.head {
    color: wheat;
    font-family: cursive;
    background-color: rgba(84, 141, 173, 0.575);
    width: 40%;
    float: left;
    text-align: left;
    height: 70px;
}

.info {
    text-align: center;
    color: lightgoldenrodyellow;
    width: 60%;
    float: right;
    line-height: 70px;
    height: 70px;
    background-color: rgba(230, 236, 240, 0.575);
    text-decoration: none;
}

#a {
    background-color: rgb(78, 138, 158);
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
}

.class {
    text-align: center;
}

#b {
    background-color: rgb(226, 219, 204);
    font-family: cursive;
}

.last {
    float: left;
    color: rgba(236, 221, 221, 0.904);
}

@media (max-width:300px) {
    #Initial {
        max-width: 100vw;
    }
}